* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.me {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(plain-white-background.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 40px 120px;
}

.nav-logo img {
  width: 135px;
}

.nav-links {
  flex: 1;
}

.nav-links ul {
  margin-left: 50px;
  display: inline;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links ul a {
  color: gold;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-links ul li:hover:after {
  width: 100%;
}

.banner-title h1 {
  margin: 80px 130px;
  color: gold;
  font-size: 64px;
  margin-bottom: 30px;
}

.img-me {
  width: 1000px;
  position: absolute;
  left: 15%;
}

.vertical-bar {
  height: 150%;
  background: black;
  top: 0;
  left: 0;
  position: absolute;
  width: 80px;
}

.social-icon {
  height: 20%;
  width: 80%;
  background: yellow;
  text-align: center;
  top: 0;
  position: absolute;
}

.social-icon .fab {
  margin: 45px 15px;
  display: block;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bar .fas {
  display: none;
}

@media(max-width: 700px) {
  .vertical-bar {
    display: none;
  }
  .banner-title {
    margin: 80px 40px;
  }
  .banner-title h1 {
    font-size: 50px;
  }
  .img-me {
    width: 200px;
  }
  .nav-bar {
    padding: 10px 30px;
  }
  .fas-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fas {
    display: block;
    color: white;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links {
    height: 100vh;
    width: 200px;
    background: #000000;
    top: 0;
    right: -200px;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: .5s;
  }
  .nav-links ul a {
    display: block;
  }
}
